{% extends "email/base_revamp.html"  %}
{% block content %}

    <p style="margin: 20px 0">Hi {{ first_name |default:"" }},</p>

    <p>
        We heard you may have forgotten your password. If you did, you may click the link below to go back to Farmers Heaven and reset your password.<br>
        <a href="{{ url }}{{ code }} ">{{ url }}{{ code }}</a><br/>
        <br/>
        If the above link does not work, please copy and paste it into your browser.<br/>
        <br/>
        If you did not forget your password, you may simply ignore or delete this email. Your password will not change, and you will still be able to access your account.<br/>
        <br/>
        Thanks for utilizing the services of Farmers Heaven!
    </p>
{% endblock %}
